<html>
  <head>
    <title>Room 1 in the Spooky Castle</title>
    <meta charset="utf-8">
    <meta name="description" content="Room 1 in the spooky castle is full of cats">
    <meta property="og:image" content="/cats.png">
  </head>
  <body>
    <header>
      <h1>Room 1</h1>
    </header>
    <article>
      <img src="cats.png" alt="spooky cats" />
      <p>
        This room is full of spooky cats. Meow meow meow meow meow!
      </p>
      <br>
    </article>
    <footer>
      <a href="/room2.html">Go to the next room</a>
      <br>
      <a href="/spookycastle.html">Back to the Spooky Castle</a>
    </footer>
  </body>
</html>
