<html>
  <head>
    <title>Room 3 in the Spooky Castle</title>
    <meta charset = "utf-8">
    <meta name="description" content="Room 3 in the spooky castle has spooky monster">
    <meta property="og:image" content="/monster.jpg">
    <link href="css/spooky.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Room 3</h1>
    </header>
    <article>
      <img class="center" src="monster.png" alt="spooky monster" />
      <p>
        Watch out! This hungry monster lives here.
      </p>
    </article>
    <br>
    <footer>
      <a href="/room4.html">Go to the next room</a>
      <br>
      <a href="/spookycastle.html">Back to the Spooky Castle</a>
    </footer>
  </body>
</html>
