
      <img class="center" src="owl1.jpg" alt="spooky owl" />
      <img class="center" src="owl2.jpg" alt="another spooky owl" />
      <p>
        This room is full of spooky owls. Hoot!
      </p>
