<html>
  <head>
    <title>Spooky Castle</title>
    <meta charset = "utf-8">
    <meta name="description" content="Visit the Spooky Castle">
    <link href="css/spooky.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <h1>Welcome to the Spooky Castle!</h1>
    </header>
    <article>
      <img class="center" src="spookycastle.png" alt="Spooky Castle" />
      <p>
        Visit the different rooms below to meet all the spooky residents:
      </p>
      <nav>
        <a id="door1" href="/room1.html"><img src="spookydoor.jpg" alt=Room 1 /></a>
        <a id="door2" href="/room2.html"><img src="spookydoor3.jpg" alt=Room 2 /></a>
        <a id="door3" href="/room3.html"><img src="spookydoor4.jpg" alt=Room 3 /></a>
        <a id="door4" href="/room4.html"><img src="spookydoor2.jpg" alt=Room 4 /></a>

      </nav>
    </article>
    <footer>
      <a href="/">Return to the Home Page</a>
    </footer>
  </body>
</html>
