/*
 * This is a CSS file.
 * Inside of CSS files comments are started with /* and ended with:
 */

/*
 * Starting with Wave 2 of this project we will be using CSS to style our
 * web pages. You should place all of your styles in this file and then
 * reference it from each of your HTML files.
 */

/*
 * This file is located at "public/main.css" in your project directory.
 * Because it is in the "public" directory, Sinatra knows to make the file
 * accessible to your HTML files when you use the src="path/to/file"
 * attribute on the appropriate tags.
 *
 * For example, to include an image into your site, place the file in the
 * public directory and use <img src="/name_of_image.png"> in your HTML
 * file. The "public" part of the path should *not* be included.
 */

 @import url('https://fonts.googleapis.com/css?family=Calligraffitti');

body { background-color: black;
      font-family: "Calligraffitti", Gadget, sans-serif;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      width: 960px;
      color: black;
}

h1 {
  font-family: "Calligraffitti", sans-serif;
  color: black;
  background-color: #E68A00;
  border-radius: 10px;
  margin: 50px;
  padding: 30px;
  font-size:4em;
  text-align: center;

  }

article {
  background-color: #E66916;
  border-radius: 10px;
  margin: 10px 50px;
  padding: 30px;
  font-size:2em;
  text-align: center;

  }

  #door {
    background-color: black;
    border-radius: 10px;
  }

  .shadow {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 20px 20px #E66916 inset;
  }


  nav {
    text-align: center;
  }

  nav div {
    font-family: cursive;
    font-weight: bold;
    background-color: #E68A00;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    font-size:1.25em;
    text-align: center;
    display: inline-block;
    border: 6px;
    border-color: #E66916;
    border-style: outset;
  }

  nav div a:link {
    color: #3333CC;
    text-decoration: none;
  }

  nav div a:visited {
    color: #7519D1;
    text-decoration: none;
  }

  nav div a:hover {
    font-size: 150%;
    text-decoration: none;
  }


  footer {
    color: #E66916;

  }
